@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=Roboto:wght@100&family=Work+Sans:wght@100&display=swap");
/*
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    
}
.main-login{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/business-card-1082665.png");
    background-size:cover;
    background-position: center;
}
header{
    position: fixed !important;
    z-index: 1;
    width: 100%;

}
.h1-login{
    text-align: center;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
#formulario{
    background-color: rgba(255, 255, 255, 0.479);   
    padding: 1rem;
    align-items: center;
    border-radius: 10px;
}
.formulario-login{
    width: 100%;
    margin: auto;
}
.grupo{
    position: relative;
    margin:34px 0;   
}
#name{
    background-color:none;
    color: rgb(88, 87, 88);
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    border-radius: 7px;
    padding:10px 0 10px 0;
}
#name:focus{
    outline: none;
    color: rgb(0, 0, 0);
}
.grupo .label{
    color: black;
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: 0.3s ease all;
    pointer-events: none;
}

#name:focus~.label,
#name:valid~.label{
    top: -19px;
    font-size: 14px;
    color: rgb(255, 189, 6);
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: "";
    height: 3px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, rgba(233, 151, 0, 0.993), rgb(240, 223, 131));
    transition: 0.8s ease width;
}

input:focus~.barra::before{
    width: 100%;
}
.btn-login{
    width: 100%;
    padding: 10px 0 10px 0;
    border-radius: 10px;
}
.form-check-input{
    margin: 10px 0 0 -17px;
    position:relative;
}
.formulario-login a{
    color:rgb(233, 152, 2) ;
    text-decoration: none;
}
.formulario-login p{
    color: rgb(116, 91, 53);
}



.input__login{
    background-color:none;
    width: 100%;
}
.register{
    color: rgb(246, 92, 92) !important;
    font-weight: 600;
}